<form action="/step1" method="post">
    <p>Step 1</p>
    <label for="networkAddress">
        Write here your IP address with CIDR notation.
    </label>
    <input type="text" id="networkAddress" name="networkAddress" value="192.168.0.0/24">
    <label for="subnetsAmount">
        How many subnets do you want to get?
    </label>
    <input type="number" id="subnetsAmount" name="subnetsAmount" min="2" max="1024" value="2">
    <input type="submit" value="Next step">
</form>