<form action="/summary" method="post">
    <p>Step 2</p>
    <p>Fill up the frames below.</p>
    <table>
        <tr>
            <th>Subnet name</th>
            <th>Host amount</th>
        </tr>
        <!-- Each helper -->
    </table>
    <div class="flexed">
        <input type="button" onclick="location.href='/step1';" value="Back"/>
        <input type="submit" value="Calculate!">
    </div>
</form>