<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VLSM Calculator</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header>
    <h1>VLSM Calculator - Split your network</h1>
    <article>
        <h2>VLSM Technique</h2>
        <p>VLSM (Variable Length Subnet Mask) is a technique that allows to divide IP address space into smaller subnets of different sizes opposed to
            <abbr title="Fixed-length subnet mask">FLSM</abbr> where it divides addresses into subnets of the same
            lengths.</p>
    </article>
</header>
<div class="displayed-content">
    {{{body}}}
</div>

<footer>
    <p><span>~</span>Wojciech Domżał 2022<span>~</span></p>
</footer>
</body>
</html>